<!-- GLOBALS -->
<%
	lic_json_string = measure('license-breakdown-json')
%>
<head>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">	
<script src="<%= url_for_static(:plugin => 'BDSPlugin', :path => 'highcharts.js') -%>  "></script>


</head>
<script>
</script>

<h1> scratch pad </h1>

Icon: <i class="fa fa-shopping-cart"></i>