.gradient {
  background: #e80408; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4MDQwOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxN2M2MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
background: -webkit-gradient(linear, 0 0, 100% 0, from(#e80408), to(#17c600)) !important;
background: -webkit-linear-gradient(left, #e80408 0%, #17c600 100%) !important;
background: -moz-linear-gradient(left, #e80408 0%, #17c600 100%) !important;
background: -o-linear-gradient(left, #e80408 0%, #17c600 100%) !important;
background: linear-gradient(left, #e80408 0%, #17c600 100%) !important; /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e80408', endColorstr='#17c600',GradientType=1 ) !important; /* IE6-8 */
}

.clear:after {
  display: table;
  content: "";
}

.clear {
  clear: both;
}

.widget-tile {
  font-family: "open sans",Helvetica;
  background-color: #ffffff;
  margin: 0px 0px;
  position: relative;
  min-width: 500px;
  padding-right: 5px;
}

.widget-tile h4 
{
	font-variant: normal;
	font-weight: bold;
    font-size: 1em;
}

.widget-row {
  padding-top: .5%;
  vertical-align: bottom;  
  min-height: 31px;
}

.widget-scale
{
	margin-left: -.5%;
  	height: 40px;  
 	margin-top:8px;
    padding-right: 5px;  /* The end number needs some space*/
}

.widget-row p {
	margin-top: 1%;
	font-weight: bold;
}


.widget-footer abbr {
  font-size: 0.9em;
  font-style: italic;
  color: #777;
}



.widget-footer
{
  padding-bottom:.5%;
  margin-top:1%
}

.widget-footer p {
  font-style: italic;
  font-size: 12px;
  color:#404040;
  vertical-align: middle;
  margin-top:4px;
  float:left
}

.value
{
	font-family: arial, helvetica, clean, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: auto;
	vertical-align: bottom;
	float: left;
	margin-top:0px;
}

.trend-arrow
{
	position: relative;
}


.widget-scale .value
{
  margin-top: -9px;
}

.scale {
  height: 20px;
  border: 1px solid black;
  margin-top: -3px;
  position: relative;
  top: 2px;
}

.percentage {
  visibility: hidden;
  
  height: 20px;
  width: 40px;
   
  position: absolute;
  top: -15px; /* equal to padding */
  display: block;
  background: #fff;
  border: 1px solid black;
  padding: 15px 15px 15px 15px;
  text-align: center;
  vertical-align: center;
  horizontal-align: center;
}

.percentage-container {
	position: relative;
}
.percentage label {
	margin-left: -2px;
  	font-size: 80%;
}
.percentage .value {
	margin-left: -1px;
 	width: 100%;
}


.start {
  position: relative;
  padding: 8px;
  border-right: 1px solid black;
  background: #fff;
  z-index: 1;
}

.end {
  right: -20px;
  top: -11px;
  background: #fff;
  z-index: 2;
  position: relative;
  float: right;
  border-left: 1px solid black;
  margin-top: -20px!important;
  padding: 8px;
  padding-right: 5px;
}

